.gradle
.idea
history
**/build/
!src/**/build/
src/main/java/org
src/test/resources/com/demoqa/data/data_registro.csv
src/main/java/com/demoqa/questions
src/main/java/com/demoqa/utils/BuilderCsvWebTable.java
